<% layout('layouts/boilerplate') %>
    <h1>Edit Campground</h1>
    <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="">
        <div> 
            <label for="changename">Update Campground Title</label>
            <input type="text" name="changename" id="chnagename" placeholder="New Camp Name" value="<%=campground.title%>">
        </div> 
        <div> 
            <label for="changelocation">Update Campground Location</label>
            <input type="text" name="location" id="location" placeholder="New Camp Location" value="<%=campground.location%>">
        </div> 
        <button>Submit Changes</button>
    </form>
    <a href="/campgrounds/<%= campground._id%>">Back To Campground</a>
